@model Eventy.Models.Customer

@{
    ViewBag.Title = "Model.FullName";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.FullName</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Home Address</th>
            <th>Phone Number</th>
            <th>Date Of Birth</th>
            <th>Age</th>
            <th>Is Subscribed To Newsletter?</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.Id
            </td>
            <td>
                @Model.FirstName
            </td>
            <td>
                @Model.LastName
            </td>
            <td>
                @Model.EmailAddress
            </td>
            <td>
                @Model.HomeAddress
            </td>
            <td>
                @Model.PhoneNumber
            </td>
            <td>
                @Model.DateOfBirth
            </td>
            <td>
                @Model.Age
            </td>
            <td>
                @Model.IsSubscribedToNewsletter
            </td>
        </tr>
    </tbody>
</table>